/* Root CSS Variables */
:root {
    --primary-color: #10447f; /* Dark Blue */
    --secondary-color: #ffffff; /* White */
    --text-color: #000000; /* Black */
    --accent-color: #f2cb07; /* Yellow */
}

/* General Styles */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 10px 20px;
    display: grid; 
    grid-template-columns: 120px 1fr; 
    align-items: center; 
    gap: 20px; 
    border-bottom: 1px solid #ccc;
    max-width: 1350px;
    margin: auto; 
}

header img {
    width: 100px; 
    height: auto;
}

/* Navigation Styles */
nav {
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
}

nav ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    display: flex; 
    gap: 20px; 
}

nav ul li {
    margin: 0; 
}

nav a {
    color: var(--secondary-color); 
    text-decoration: none; 
    padding: 10px 15px; 
    display: block; 
    font-weight: 400; 
}

nav a:hover {
    font-weight: 700; 
    text-decoration: underline; 
}

/* Employee Profiles Section */
.employee-profiles {
    display: flex; 
    justify-content: space-between; 
    flex-wrap: nowrap; 
    padding: 20px;
}

.employee-profiles figure {
    text-align: center;
    width: 30%; 
    margin-bottom: 20px;
}

.employee-profiles img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover; 
    margin-bottom: 10px;
}

.employee-profiles figcaption {
    font-size: 1rem;
    color: var(--text-color);
    font-weight: bold;
}

/* Contact Form Styles */
.contact-form {
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--primary-color);
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form input[type="radio"] {
    margin-right: 5px;
}

.contact-form input[type="checkbox"] {
    margin-right: 10px;
}

.contact-form textarea {
    height: 150px;
    resize: none;
}

.contact-form input[type="submit"] {
    background-color: var(--accent-color);
    color: var(--primary-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form input[type="submit"]:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* Map Section */
.map-iframe {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 8px; 
